body{
    background-color: #28A745;
    box-sizing: border-box;
    
    /* TODO flexible height*/
    /* margin: 20px auto;
    width: 70%; */
}
.heading h1{
    color: white;
}
.perfectWords{
    display: flex;
    flex-direction: row;
    width: 65%;
}
.perfectWords input{
    width: 100%;
    /* max-width: 70px !important;
    width: 100% !important; */
}
.perfWordsLabel h5{
    margin-bottom: 0 !important;
}
.box{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
    background-color: #F0F5F8;
}
@media screen and (min-width:640px){
    .box{
        width: 60% !important;
    }
    .butn{
        width: 65% !important;
    }
} 
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.row1{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.row2{
    margin: auto;
    width: 65%;
}
.centr{
    margin: auto;
}
::placeholder{
    color: grey;
}
@media screen and (max-width:640px){
    /* input {
        min-height: 40px !important;
    } */
} 
input{
    border-radius: 1px !important;
    border: 1px solid black !important;
}
.butn{
    margin: auto;
    width: 65%;
    text-align: center;
}
button{
    width: 100% ;
    /* background-color: danger !important; */
}