<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <div class="container content mt-md-3 mt-2">
        
            <div class="row heading text-center mb-3"><h1>Wordle Solver</h1></div>
            <div class="row align-items-center">
            <form action="/result" method="POST">
                <div class="row mb-3 row1">
                    <label class="col-7 " for="goodWords"><h5>Enter good words(words in yellow): </h5></label>
                    <input type="text" class="col-4 centr" name="goodWords" id="badWords">
                </div>
                <div class="row mb-3 ">
                    <label class="col-7" for="badWords"><h5>Enter bad words(words in grey): </h5></label>
                    <input class="col-4 input-lg centr" type="text" name="badWords" id="badWords">
                </div>
                <div class="perfectWords row mb-3 align-items-center">
                    <label class="col-7" for="perfectWords"><h5>Enter perfect words(words in green): </h5></label>
                    <div class="col-1 p-0 perfInp"><input class="text-center" type="text" maxlength="1" name="perfectWords" id="perWords1"></div>
                    <div class="col-1 p-0 perfInp"><input class="text-center" type="text" maxlength="1" name="perfectWords" id="perWords1"></div>
                    <div class="col-1 p-0 perfInp"><input class="text-center" type="text" maxlength="1" name="perfectWords" id="perWords1"></div>
                    <div class="col-1 p-0 perfInp"><input class="text-center" type="text" maxlength="1" name="perfectWords" id="perWords1"></div>
                    <div class="col-1 p-0 perfInp"><input class="text-center" type="text" maxlength="1" name="perfectWords" id="perWords1"></div>
                   
                </div>
                <div class="butn mt-5" type="submit"><button class="btn btn-info">Search</button></div>
                <div class="note m-sm-5 m-4 p-3 text-center">
                    <p>PS: In the wordle game, enter first two words with all different letters then use this helper for optimal result</p>
                </div>
            </form>
            </div>
        
    </div>
</body>

<script type="text/javascript" src="./words_dictionary.json"></script>
<script type="text/javascript" src="./server.js"></script>

</html>